.note_cards {
    height: 425px;
    overflow-y: scroll;
}

.note_wrapper blockquote {
    width: 100%;
    margin: 15px auto;
}

.paginated_wrapper {
    display: flex;
    justify-content: space-evenly;
}

.paginated_wrapper svg {
    cursor: pointer;
}

@media screen and (max-width: 576px) {
    .note_wrapper blockquote {
        font-size: 1em;
    }
}